/***************************************************************************************************************************************************************/
Print 
'--- ' + CONVERT (VARCHAR(19), SYSDATETIME()) + ' ==>  script 0.007    ---------------------------------------------------------------------------------------- '
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***     >>>>>         This script creates long set of values and wordings using final data from the 'Global Restriction on Religion Study'        <<<<<     ***/



/***     >>>>>         This script creates a lookup table of long shaped data to be used by researchers                                            <<<<<     ***/

/*  WHERE [QA_std] NOT LIKE '%_ny%' 
    OR [QA_std]     LIKE '%_ny'       */

/***                                                                                                                                                         ***/
/***                    -  This set is based in lookup tables as sources (not in views as scripts before 0.004)                                              ***/
/***                    -  Set includes numeric values and wordings as stored as well as aggregated                                                          ***/
/***                    -  Set includes data by variable, year, region, country and religion                                                                 ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                               |                 W                 |                F D                |                                 ***/
/***                                               |        working environment        |            final  data            |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                                    database:  |            [GRSHRcode]            |          [forum_ResAnal]          |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                               1st step view:  |                                   |  [vr___07_]                       |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                       2ns step lookup table:  |                                   |  [vr___07_cDB_MainLongData_byCYQ] |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                                      > > >     lookup tables work faster     < < <                                                      ***/
/***                                                                                                                                                         ***/
/***                                                      > > >      although they should be      < < <                                                      ***/
/***                                                                                                                                                         ***/
/***                                                      > > >          M A N U A L L Y           < < <                                                     ***/
/***                                                                                                                                                         ***/
/***                                                      > > >           U P D A T E D            < < <                                                     ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW                      [dbo].[vr___07_]
AS
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT *
FROM
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
(
/*** Set of data including selected variables ******************************************************************************************************************/
SELECT
       [row]                     =   [v_Basic_row]
      ,[Region5]
      ,[Ctry_EditorialName]
      ,[Locality]
      ,[Religion]
      ,[Question_Year]
      ,[QA_std]
      ,[QW_std]
      ,[Answer_value]
      ,[answer_wording]
      ,[answer_wording_std]
  FROM [forum_ResAnal].[dbo].[vr___06_cDB_LongData_ALL_byCYQ]
 WHERE [QA_std] NOT LIKE '%_ny%' 
    OR [QA_std]     LIKE '%_ny' 
/*** Set of data including selected variables ******************************************************************************************************************/
)    DISV
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/










/***************************************************************************************************************************************************************/
IF OBJECT_ID  (N'[forum_ResAnal].[dbo].[vr___07_cDB_MainLongData_byCYQ]', N'U') IS NOT NULL
DROP TABLE       [forum_ResAnal].[dbo].[vr___07_cDB_MainLongData_byCYQ]
SELECT * 	INTO [forum_ResAnal].[dbo].[vr___07_cDB_MainLongData_byCYQ]
            FROM                 [dbo].[vr___07_]
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/
--	SELECT* FROM [forum_ResAnal].[dbo].[vr___07_cDB_MainLongData_byCYQ] WHERE [QA_std] IS NULL
/***************************************************************************************************************************************************************/
