/***************************************************************************************************************************************************************/
Print 
'--- ' + CONVERT (VARCHAR(19), SYSDATETIME()) + ' ==>  script 0.008    ---------------------------------------------------------------------------------------- '
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***     >>>>>         This script creates long set of values and wordings using final data from the 'Global Restriction on Religion Study'        <<<<<     ***/
/***                                                                                                                                                         ***/


/***             This view includes numeric weights by year at different levels of aggregation                                                               ***/



/***                    -  This set is based in lookup tables as sources (not in views as scripts before 0.004)                                              ***/
/***                    -  Set includes numeric values and wordings as stored as well as aggregated                                                          ***/
/***                    -  Set includes data by variable, year, region, country and religion                                                                 ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                               |                 W                 |                F D                |                                 ***/
/***                                               |        working environment        |            final  data            |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                                    database:  |            [GRSHRcode]            |          [forum_ResAnal]          |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                               1st step view:  |                                   |  [vr___08_]                       |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                       2ns step lookup table:  |                                   |  [vr___08_cDB_Weights_f_TopLines] |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                                      > > >     lookup tables work faster     < < <                                                      ***/
/***                                                                                                                                                         ***/
/***                                                      > > >      although they should be      < < <                                                      ***/
/***                                                                                                                                                         ***/
/***                                                      > > >          M A N U A L L Y           < < <                                                     ***/
/***                                                                                                                                                         ***/
/***                                                      > > >           U P D A T E D            < < <                                                     ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW                      [dbo].[vr___08_]
AS
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT *
FROM
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
(
/*** Main Set of Data for the View *****************************************************************************************************************************/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
      [v_Basic_row]  = ROW_NUMBER()OVER(ORDER BY [Nation_fk], [Question_Year])
    , [Nation_fk]
    , [Question_Year]
    , [WTWg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year]           ))) AS DECIMAL(10,8))) * 100
    , [R5Wg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year], [Region5]))) AS DECIMAL(10,8))) * 100
    , [R6Wg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year], [Region6]))) AS DECIMAL(10,8))) * 100
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
FROM
    (
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT 
       DISTINCT
       [Nation_fk]
      ,[Region5]
      ,[Region6]
      ,[Ctry_EditorialName]
      ,[Question_Year]
      ,[cw]                = CAST([CntWg] AS DECIMAL(10,8))
  FROM [forum_ResAnal].[dbo].[vr___06_cDB_LongData_ALL_byCYQ]
 WHERE
       [Nation_fk]  < 1000
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    )                                                                                                                                                   DistCtry
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
--ORDER BY [Nation_fk], [Question_Year]
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*** Main Set of Data for the View *****************************************************************************************************************************/
    )                                                                                                                                                  CalcWghts
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/










/***************************************************************************************************************************************************************/
IF OBJECT_ID  (N'[forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines]', N'U') IS NOT NULL
DROP TABLE       [forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines]
SELECT * 	INTO [forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines]
            FROM                 [dbo].[vr___08_]
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/
--	SELECT* FROM [forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines] WHERE [WTWg] IS NULL
/***************************************************************************************************************************************************************/
