/***************************************************************************************************************************************************************/
Print 
'--- ' + CONVERT (VARCHAR(19), SYSDATETIME()) + ' ==>  script 0.010    ---------------------------------------------------------------------------------------- '
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***     >>>>>         This script creates full set of toplines by variable using final data from the 'Global Restriction on Religion Study'       <<<<<     ***/


/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the lookup table [forum_ResAnal].[dbo].[vr___10_cDB_Published_TopLines]                         <<<<<     ***/
/***             This table only includes aggregated numeric values                                                                                          ***/


/***                                                                                                                                                         ***/
/***                    -  This set is based in lookup tables as sources (not in views as scripts before 0.004)                                              ***/
/***                    -  Top lines include aggregated-and-scaled numeric values                                                                            ***/
/***                    -  Set also includes the corresponding notes for toplines to be published                                                            ***/



/***                    -  Set also includes the corresponding notes for toplines to be published                                                            ***/

/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                               |                 W                 |                F D                |                                 ***/
/***                                               |        working environment        |            final  data            |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                                    database:  |            [GRSHRcode]            |          [forum_ResAnal]          |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                               1st step view:  |                                   |  [vr___09_]                       |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                       2ns step lookup table:  |                                   |  [vr___09_cDB_Basic_TopLines_All] |                                 ***/
/***                     --------------------------+-----------------------------------+-----------------------------------+                                 ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                                      > > >     lookup tables work faster     < < <                                                      ***/
/***                                                                                                                                                         ***/
/***                                                      > > >      although they should be      < < <                                                      ***/
/***                                                                                                                                                         ***/
/***                                                      > > >          M A N U A L L Y           < < <                                                     ***/
/***                                                                                                                                                         ***/
/***                                                      > > >           U P D A T E D            < < <                                                     ***/
/***                                                                                                                                                         ***/

/* check if notes are pending  */

/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
declare @ALLCODE nvarchar(max)
/***************************************************************************************************************************************************************/
set     @ALLCODE =
/*** > ALLCODE *************************************************************************************************************************************************/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
N'
ALTER  VIEW                      [dbo].[vr___10_]        AS
SELECT * FROM
(
  SELECT
'
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
+
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
N'
          [vx2Row]
          =  ROW_NUMBER()
             OVER(ORDER BY [vx1Row] )
        , [Variable]
        , [Value]
        , [Wording] = CASE WHEN         [Wording] LIKE ''% (N/Y options)'' 
                           THEN REPLACE([Wording],      '' (N/Y options)'', '''')
                           ELSE         [Wording]                                 END
        , [N2007]
        , [P2007]
        , [N' + (SELECT CAST((SELECT MAX([Question_Year]) FROM [vr___06_cDB_LongData_ALL_byCYQ]) -1 AS VARCHAR)) + N']
        , [P' + (SELECT CAST((SELECT MAX([Question_Year]) FROM [vr___06_cDB_LongData_ALL_byCYQ]) -1 AS VARCHAR)) + N']
        , [N' + (SELECT CAST((SELECT MAX([Question_Year]) FROM [vr___06_cDB_LongData_ALL_byCYQ])    AS VARCHAR)) + N']
        , [P' + (SELECT CAST((SELECT MAX([Question_Year]) FROM [vr___06_cDB_LongData_ALL_byCYQ])    AS VARCHAR)) + N']
        , [vx1Row]
'
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
+
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
N'
  FROM 
          [forum_ResAnal].[dbo].[vr___09_cDB_Basic_TopLines_All]        T
   JOIN
      (
        SELECT
                  [V] = [Question_abbreviation_std]
          FROM
                  [forum]..[Pew_Question_Std]
        LEFT JOIN [forum]..[Pew_Question_Attributes]
               ON [Question_Std_pk]
                 =[Question_Std_fk]
            WHERE [attk]
                 = ''Itl''
              AND [attr]
                 = 1
                                                        )               F
     ON      [Variable]  =  [V]                                                       ) MYMAIND
'
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*** < ALLCODE *************************************************************************************************************************************************/

/***************************************************************************************************************************************************************/
--	EXEC dbo.LongPrint @ALLCODE                                     /***        display the currently stored code (to be executed)                           ***/
/***************************************************************************************************************************************************************/
	EXEC  (@ALLCODE)
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/








/***************************************************************************************************************************************************************/
IF OBJECT_ID  (N'[forum_ResAnal].[dbo].[vr___10_cDB_Published_TopLines]', N'U') IS NOT NULL
DROP TABLE       [forum_ResAnal].[dbo].[vr___10_cDB_Published_TopLines]
SELECT * INTO    [forum_ResAnal].[dbo].[vr___10_cDB_Published_TopLines]
            FROM                 [dbo].[vr___10_]
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/
--	SELECT* FROM [forum_ResAnal].[dbo].[vr___10_cDB_Published_TopLines] WHERE [Variable] IS NULL
/***************************************************************************************************************************************************************/


