/**************************************************************************************************************************/
USE       [forum]
GO
/**************************************************************************************************************************/
/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
-- actually saved with extra 'b' at the end in 6Aug2014
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Display_by_Year_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Display_by_Year]' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
-- update filter
UPDATE                    [forum].[dbo].[Pew_Display_by_Year]
SET                       [forum].[dbo].[Pew_Display_by_Year].[Restrictions_Data]       = 1
                        , [forum].[dbo].[Pew_Display_by_Year].[GRF_QMetadata]           = 1
--   select * from        [forum].[dbo].[Pew_Display_by_Year]
WHERE                                                         [Year]                    = 2014
/**************************************************************************************************************************/
/**************************************************************************************************************************/
