/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [GRSHRcode]
GO
/***************************************************************************************************************************************************************/
/***       >>>>>         Q's were not loaded before....                                                                                            <<<<<     ***/
	/***********************************************************************************************************************************************************/
	/*****     BackUp  current Table                                                                                                                       *****/
	/***********************************************************************************************************************************************************/
    /*
	  DECLARE @CrDt    varchar( 8)
	  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
	/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
	EXEC ( ' SELECT *
					INTO  [_bk_forum].[dbo].[All_Questions_' + @CrDt + ']
					FROM  [GRSHRcode].[dbo].[All_Questions]'               )
                                                                                                                                                               */
	/***********************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
INSERT
  INTO
       [GRSHRcode].[dbo].[All_Questions]
SELECT [Q_Number]                              = 181
      ,[Question_Std_fk]                       = 1043
      ,[Question_fk]                           = 2146
      ,[Question_abbreviation_std]             = 'SHI_11_a_01'
      ,[Question_wording_std]                  = 'Did the score for SHI_11_a depend solely on information from the two IRF reports before this year''s report?'
      ,[QClass]                                = 'CODED'
      ,[QDescr]                                = NULL
      ,[QTools]                                = NULL
      ,[QTable]                                = 'SH'
      ,[QDftlt]                                = NULL
      ,[QbyCRL]                                = 'Ctry'
      ,[Religion_fk]                           = NULL
      ,[Religion]                              = NULL
/***************************************************************************************************************************************************************/
/*
      SELECT * FROM [GRSHRcode].[dbo].[All_Questions]
      where Question_abbreviation_std  like 'SHI_11_' + '[a-b]' + '%'
                                                                                                                                                               */
/***************************************************************************************************************************************************************/
